.card-container {
    display: flex;
    width: 350px;
    height: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-block: 2px;
    justify-content: space-around;
    overflow-y: auto;
    box-shadow: black;
    font-family: 'Protest Riot', sans-serif;

}

.card-title {
    margin-bottom: 2vh;
    font-size: 2vw;
}

.card-text {
    margin-bottom: 2vh;
    font-size: min(2vw,22px);
    word-wrap: break-word;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-right: 2vw;
    text-align:center;
}

.btn-primary {
    background-color: rgb(237, 224, 224);
    font-size: 1vw;
    padding: .5vw 2vw;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: #eeafaf;

}

.card-img-top {
    width: 20vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .btn-primary{
        font-size: 15px;
    }
    .card-container {
        width: 350px;
        height: 500px;
        padding: 5px;
        text-align: center;
        margin-block: 1px;
    }

    .circular-image {
        width: 30vw;
        height: 20vw;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .card-title {
        font-size: max(3vw,22px);
    }

    .card-text {
        font-size: max(2vw, 20px);
    }
}