.info-button{
    display: block;
}
.btn{
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    cursor: pointer;
    z-index: 1000;

}
.btn img{
    border-radius: 50%;
    height:10vmin;
    width: 10vmin;
}

.info-card {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: rgb(237, 224, 224);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    z-index: 2000;
}

.info-card p {
    margin-bottom: 10px;
    font-size: 16px;
    background-color: rgb(245, 233, 233);

}