div h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
    margin-top: 10px;
}
.centre-img{
    display: block;
    align-items: center;
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
    margin-bottom: 5vh;
    
}
.centre-img img{
    height: 100%;
    width:100%;
}
.venture{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    list-style-type: none;
}
@media (max-width: 600px) {
    .centre-img{
        display: flex;
        width: auto;
    }
    .venture{
        display: flex;
        justify-content: space-around;
    }

}