*{
    padding: 0;
margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}
.cart{
    border-radius: 10px;
    margin-top: 50px;
    
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    align-items: center;
    columns: grey;
    
    font-size:1rem;
    margin-left: auto;
    margin-right: auto;
   /* border-bottom: 1px solid #e2e2e2;*/
}

.cart-items-item {
    margin: 10px 0px;
    color: black;
    display: grid;
    padding: 1px 0px;
    align-items: center;
   

}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
    
}

.cart-items-item .crossX {
    cursor: pointer;
    color:tomato;
    height: 17px;

}

.cart-botton {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    gap: max(12vwm, 20px);
    flex-wrap: wrap;
    margin-left: 20px;
}

.cart-total {
   margin-bottom: 10px;
   font-size: 1rem;
   color: #333;
   flex: 1;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
    padding: 1px 0px;
 
}

.cart-total hr {
    margin: 10px ;

}

.cart-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    
    transition: background-color 0.3s ease;
}

.cart-promocode {
    margin-right: 20px;
    flex: 1;
    font-weight: bold;

}

.cart-promocode p {
    color: #555;
    font-weight: bold;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 5px;
    overflow: hidden;
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    padding: 10px;
    flex: 1;

}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 10px, 20px;
    background-color: black;
  height: 4vw;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.cart-total-special-box{
    border: 1px solid gray; /* Ensure the border is solid and 2px wide */
    padding: 20px; /* Add padding for spacing inside the box */
    border-radius: 10px; /* Round the corners of the box */
    background-color: #fff; /* Set a background color for the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 20px 0; /* Optional: Add margin for spacing around the box */


}

@media(max-width:600px) {
    .cart-botton {
        flex-direction: column-reverse;
        display: flex;
    }

    .cart-promocode {
        justify-content: start;
        display: flex;
    }
    

    .cart-promocode-input button {
        width: max(10vw, 150px);
        padding: 10px, 20px;
        background-color: black;
      height: 10vw;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        border: none;
      
    }
    .cart-total-details {
        display: flex;
        justify-content: space-between;
        color: #555;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 1px 0px;
     
    }

    .cart-total button {
        border: none;
        color: white;
        background-color: tomato;
        width: max(10vw, 180px);
        padding: 9px 10px;
        border-radius: 4px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
        margin-left:  10px;
       
    }
    .cart-promocode-input input {
        background: transparent;
        border: none;
        outline: none;
        flex: 1;
       
    }

    .cart-promocode-input {
        
       margin-left: 20px;
       
    }

    
.cart-total-special-box{
    
margin-right: 20px;

}
}
