/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Menu Section */
.menu-section {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-heading {
  text-align: center;
  margin-bottom: 20px;
}

/* Menu Categories */
.menu-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.menu-category {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #eee;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.menu-category.active {
  background-color: #ddd;
}

/* Menu Items */
.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-category-items {
  display: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-category-items.visible {
  display: block;
}

.menu-category-items h6 {
  margin-bottom: 10px;
}

.menu-category-items ul {
  list-style-type: none;
  padding: 0;
}

.menu-category-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.menu-category-items button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Total Section */
.total-section {
  text-align: center;
}

.total-section p {
  margin-top: 20px;
}

.total-section ul {
  list-style-type: none;
  padding: 0;
}

.total-section li {
  margin-bottom: 5px;
}

.total-section li button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.place-order {
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place-order:hover {
  background-color: #128c7e;
}

/* Media Queries */
@media (max-width: 600px) {
  .menu-category {
    width: 45%;
  }

  .menu-category-items {
    width: 100%;
  }
}
