.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo {
    width: max(10%,80px);
}

.navbar .logout{
    width: 40px;
}

.right_pannel{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 12px 25px;
    border-radius: 4px;
    outline: 2px solid white;
}