.card-container {
    display: flex;
    width: 35vw;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-block: 2px;
    justify-content: space-around;
    overflow-y: auto;
    box-shadow: black;
    font-family: 'Protest Riot', sans-serif;

}

.card-title {
    margin-bottom: 2vh;
    font-size: 2vw;
}

.card-text {
    margin-bottom: 2vh;
    font-size: 1vw;
    word-wrap: break-word;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-right: 2vw;
}

.btn-primary {
    background-color: rgb(237, 224, 224);
    font-size: 1vw;
    padding: .5vw 2vw;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: #eeafaf;

}

.card-img-top {
    width: 20vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .card-container {
        width: 25vw;
        height: 45vw;
        padding: 5px;
        text-align: center;
        margin-block: 1px;
    }

    .circular-image {
        width: 15vw;
        height: 10vw;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 5px;
    }

    .card-container h2 {
        font-size: 3vw;
    }

    .card-container p {
        font-size: 2vw;
    }
}