.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    
}

.social-icons {
    font-size: 1.5em;
}

.icon-link {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

img{
    height: 2vmax;
    width: 2vmax;
    bottom: 2vmin;
}

.icon-link:hover {
    color: #00aced;
    /* Change to your preferred hover color */
}

@media screen and (max-width: 768px){
    .icon-link{
        margin: 5px;
    }
}